*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
   background-color:black;
}
#nav{
    height: 100px;
    width: 100%;
    /* background-color: lightblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 200px;
}
#nav>h5{
    font-size: 18px;
}
#nav>button{
    padding: 15px;
    margin: 10px;
    color: black;
    font-weight: 700;
}
#container{
    height: calc(100% - 100px);
    width: 100%;
    margin-top: 10px;
}
#container>h1{
    font-size: 120px;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;


}
#container>h1>span{
    background-color: brown;
    border-radius: 50px;
    font-size: 40px;
    padding: 20px 40px;
    margin: 0 25px;
}
#container>h4{
position: absolute;    
left:50%;
bottom: 8%;
transform: translate(-50%,0);
font-size: 25px;
}
#container>#left-img{
    height: 280px;
    position: absolute;
    top: 20%;
    left: 5%;
    border-radius: 15px;
}
#container>#top-img{
    width: 200px;
    position: absolute;
    right: 25%;
    top: 16%;
    mix-blend-mode: difference;
    
    border-radius: 10px;

}
#container>#right-bottom{
    height: 250px;
    position: absolute;
    bottom: 15%;
    right: 10%;
    border-radius: 10px;
}